main.calc .keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2.6rem;

  padding: 2rem;
  border-radius: 1.4rem;
  background-color: #0003;

  button {
    font-size: 32px;
    padding: 1.2rem;
    border-radius: .6rem;
    border: 0;
  }

  #reset-button {
    grid-column: 1 / 3;
  }

  #equal-button {
    grid-column: 3 / 5;
  }
}