main.calc .keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 2.6rem;

  padding: 2rem;
  border-radius: 1.4rem;
  background-color: #0003;

  button {
    font-size: 3.2rem;
    padding: 1.2rem 3.2rem;
    border-radius: 0.6rem;
    border: 0;
  }

  .operation,
  .result {
    font-size: 18px;
  }

  .reset-button {
    grid-column: 1 / 3;
  }

  .equal-button {
    grid-column: 3 / 5;
  }

  @media (max-width: 400px) {
    gap: 2.2rem;

    button {
      font-size: 2.8rem;
      padding: 0.8rem 2.8rem;
    }
  }

  @media (max-width: 370px) {
    gap: 2rem;

    button {
      font-size: 2.4rem;
      padding: 0.5rem 2.2rem;
    }
  }

  @media (max-width: 330px) {
    gap: 1.6rem;

    button {
      font-size: 2.2rem;
      padding: 0.4rem 1.6rem;
    }
  }
}
