/* Theme 1 */

// Backgrounds

$very-dark-desaturated-blue-main: #3a4764;
$very-dark-desaturated-blue-keypad: #232c43;
$very-dark-desaturated-blue-screen: #182034;

// Keys

$desaturated-dark-blue-background: #637097;
$desaturated-dark-blue-keyshadow: #404e72;

$red-key: #d03f2f;
$red-keyshadow: #93261a;

$light-grayish-orange: #eae3dc; // Key background
$grayish-orange: #b4a597; // Key shadow

// Text

$very-dark-grayish-blue: #444b5a;
$white: #ffffff;

/* Theme 2 */

// Background

$light-gray: #e6e6e6; // Main background
$grayish-red: #d1cccc; // Toggle background, keypad backround
$very-light-gray: #ededed; // Screen background

// Keys

$dark-moderate-cyan: #377f86; // Key background
$very-dark-cyan: #1b5f65; // Key shadow

$orange: #ca5502; // Key background
$dark-orange: #893901; // Key shadow

$light-grayish-yellow: #e5e4e1; // Key background
$dark-grayish-orange: #a69d91; // Key shadow

// Text

$very-dark-grayish-yellow: #35352c;
// $white

/* Theme 3 */

// Background

$very-dark-violet-main: #160628;
$very-dark-violet-keypad: #1d0934;

// Keys

$dark-violet: #58077d; // Key background
$vivid-magenta: #bc15f4; // Key shadow

$pure-cyan: #00e0d1; // Key background
$soft-cyan : #6cf9f2; // Key shadow

$very-dark-violet-key:  #341c4f; // Key background
$dark-magenta: #871c9c; // Key shadow

// Text

$light-yellow: #ffe53d;
$very-dark-blue: #1b2428;
// $white

/* Initial Properties */

:root {
  font-size: 62.5%;

  @media (min-width: 1800px) {
    font-size: 67.5%;
  }

  @media (max-width: 1400px) {
    font-size: 55%;
  }

  @media (max-width: 800px) {
    font-size: 50%;
  }

  @media (max-width: 700px) {
    font-size: 47.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  padding-top: 8rem;

  main.calc {
    width: min(50rem, 95%);
    margin: 0 auto;
  }

  .bold {
    transform: scale(1.3);
  }
}